@page
@model KenJP2._0.Pages.Ex.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exhibits[0].Ename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibits[0].Cap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibits[0].EID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Exhibits) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
